.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: #eee;
  height: 10vh;
}

h1 {
  font-size: 40px;
  font-family: 'Ubuntu', sans-serif;
}

nav {
  display: flex;
  gap: 50px;
}

.links {
  text-decoration: none;
  color: #1d1d1d;
  font-size: 25px;
  font-family: 'Ubuntu', sans-serif;
}

.links:hover {
  color: #5e5e5e;
}
